<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <div class="container box">Round: {{ currentRound }}</div>
      <section id="monster" class="container">
        
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="monsterBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="witcherBar"></div>
        </div>
      </section>

      <!-- Show this section when change the value in winner data -->
      <!-- if winner = TRUE show secion / default winner = null -->

      <section class="container" v-if="winner"> 
        <h2>Game Over</h2>
        <h3 v-if="winner === 'monster'">You Lost!</h3>
        <h3 v-else-if="winner === 'witcher'">You Win!!!</h3>
        <h3 v-else="winner === 'draw'">It-s a draw</h3>
        <button v-on:click="startNewGame">Start New Game</button>
      </section>

<!-- We can use v-else becouse it is directly under v-if (container above) -->
<!-- Thanks to !winner we block game keys and cannnot use them after the fight -->
      <section id="controls" v-else="!winner">
        <button v-on:click="weAttackMonster">ATTACK</button>
        <button v-bind:disabled="specialAttackWitcher" v-on:click="specialAttack">SPECIAL ATTACK</button>
        <button v-on:click="healWitcher">HEAL</button>
        <button v-on:click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <!-- {{ logMessage.actionBy }} - {{ logMessage.actionType}}: {{logMessage.actionValue}} -->
            <!-- below we have better solution -->
            <span v-bind:class="{'log--witcher': logMessage.actionBy === 'witcher',
              'log--monster': logMessage.actionBy === 'monster'}">
              {{ logMessage.actionBy === 'witcher' ? 'Witcher' : 'Monster'}}
            </span>

            <span v-if="logMessage.actionType === 'heal'"> Heals Himself for <span class="log--heal">{{logMessage.actionValue}}</span></span>
            <span v-else>
              attacks and deals <span class="log--damage">{{logMessage.actionValue}}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
